<section class="container py-5">
  <div class="alert alert-danger">
    <h1 class="h4">{{title}}</h1>
    <p>{{message}}</p>
    {{#if details}}
      <pre>{{json details}}</pre>
    {{/if}}
  </div>
  <a class="btn btn-primary" href="/">Home</a>
</section>
